@font-face
    font-family 'playlistscript'
    src local('playlistscript'),
        url(../fonts/Rosvigts.otf)

@font-face
    font-family 'new-year'
    src local('new-year'),
        url(../fonts/new-year.otf)
