.re-hidden
    opacity: 0.5s all;
    overflow: hidden;
    display: none!important;
    background: linear-gradient(#e98a00, #f5aa2f);
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
