.game__board
    width 500px
    height 500px
    border-collapse collapse
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    border: solid 4px #fff;

td
    width 30px
    height 30px
    font-size 22px
    text-align center
    vertical-align middle
    color white
    border 3px solid white
    background: #1fd1ff6b;
    &.x
        background-color: #abfdabad;
        color black
        background-size 5px
    &.o
        background-color #ff9999b3
        color black
    &:hover
        background-color #cccccca6
        cursor pointer

.re-x,
.re-o
    font-size: 124px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #fff;

tr
    td
        position: relative;
        width: 160px;
        height: 160px;
        &:first-child
            border-left-color transparent
        &:last-child
            border-right-color transparent
    &:first-of-type
        td
            border-top-color transparent
            &:nth-child(1)
                border-left-color transparent
            &:last-of-type
                border-right-color transparent
    &:last-of-type
        td
            border-bottom-color transparent
            &:nth-child(1)
                border-left-color transparent
                border-bottom-color transparent
            &:last-child
                border-right-color transparent
                border-bottom-color transparent

@media(max-height: 756px)
    .game__board
        height: 400px;
        width: 400px;
    tr > td,
    tr,td
        width: 120px;
        height: 12px;
