.memory-game
    width 640px
    height 640px
    margin auto
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    perspective 1000px

.memory-card
    width calc(25% - 10px)
    height calc(33.333% - 10px)
    margin 5px
    cursor: pointer;
    position relative
    // box-shadow 1px 1px 1px rgba(0,0,0,.3)
    transition all .5s
    transform-style preserve-3d
    transform scale(1)
    &.flip
        transform rotateY(180deg)
        .back-face-img
            opacity: 0;
    &:active
        transform scale(0.97)
        transition transform .2s

.back-face-img
    transition: 0.3s opacity;

.front-face,
.back-face
    width 100%
    height 100%
    padding 20px
    position absolute
    align-items: center;
    justify-content: center;
    display: flex;
    backface-visibility hidden
    border-radius 5px
    background: #ffe02adb;

.front-face
    transform rotateY(180deg);
    background: #bad1ffe8;

// @media screen and (max-width: 750px) and (max-height: 500px)
//     .memory-game
//         width 50%
//         height 90%
//     .memory-card
//         width calc(25% - 8px)
//         height calc(33.333% - 8px)
//         margin 4px

// .front-face,
// @media screen and (max-width: 750px) and (max-height: 500px)   .back-face
//     padding 10px
