@require './styles/reset';
@require './styles/fonts';
@require './games/CrossZero/index';
@require './games/Matches/styles';
@require './scenes/presents/styles';

text_color_red = #d43e2c;

img {
    max-height: 100%;
    max-width: 100%;
}

.re-page
    height: 100%;
    overflow: hidden;

.re-body
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1170px;
    font-family: 'Flow';
    &__header
        font-family: 'new-year';
        font-size: 60px;
        text-align: center;
        color: text_color_red;

    &__content
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

.re-message
    background: url(./image/message.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 506px;
    min-height: 272px;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 43px;
    padding-top: 64px;
    padding-bottom: 60px;
    font-family: 'Flow';
    color: #1f5578;

    &._modern
        background: rgba(255,255,255, 0.6);
        color: #555;
        padding: 20px;
        padding-bottom: 20px;
        max-width: 600px;
        width: auto;
        min-height: auto;
        border-radius: 10px;
        & ^[0]__text
            text-align: left;
            font-size: 24px;

    &._start
        margin-top: -150px;
        margin-left: -150px;
        padding-top: 30px;
        padding-left: 29px;
        padding-right: 29px;

    &._past
        background: url(./image/message-2.png) no-repeat;
        background-size: cover;
        width: 400px;
        min-height: 250px;
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -150px;
        margin-left: -150px;

    &._present
        position: relative;
        top: -150px;
        left: -200px;

    &._future
        position: relative;
        top: -250px;
        left: -100px;
        padding-left: 80px;
        padding-right: 60px;
        & ^[0]__text
            font-size: 28px;

    &__text
        text-align: center;
        font-size: 32px;

    &__action
        padding-top: 20px;
        text-align: center;

.re-scene
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    // &._start
    //     background-image: url('./image/scene-preview/bg.jpg');

    &._past
        background-image: url('./image/past.png');

    &._present
        background-image: url('./image/present.png');

    &._future
        background: url('./image/future.png');
        background-size: 100% 100%;

    &__header
        width: 100%;
        justify-content: center;
        display: flex;

    &__content
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        &._align-end
            justify-content: flex-end;

    &__ghost
        display: flex;
        margin-left: 10%;
        // align-items: flex-end;

        &-image
            max-height: 600px;
            align-self: flex-end;

    &__game
        display: flex;
        &._fill
            flex-grow: 1;
            height: 100%;
        &._matches
            justify-content: center;
            align-items: center;

    &__game-wrapper
        display: flex;
        &._matches
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

    &__game-canvas
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;

    &__action
        display: flex;
        justify-content: center;

.re-aciton
    &__text
        font-family: 'playlistscript'
        &._start-scene
            font-size: 42px;

.re-game
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;

    &__title
        padding: 40px;
        text-align: center;
        font-size: 42px;
        color: #fff;
        &._past
            color: #f5d38e;
            text-shadow: 0 0 5px #555;
        &._present
            color: #0026ffab;
            font-size: 100px;
            padding: 30px;
            font-family: 'new-year';
            text-shadow:
                -0   -4px 0   #FFFFFF,
                0   -4px 0   #FFFFFF,
                -0    4px 0   #FFFFFF,
                0    4px 0   #FFFFFF,
                -4px -0   0   #FFFFFF,
                4px -0   0   #FFFFFF,
                -4px  0   0   #FFFFFF,
                4px  0   0   #FFFFFF,
                -1px -4px 0   #FFFFFF,
                1px -4px 0   #FFFFFF,
                -1px  4px 0   #FFFFFF,
                1px  4px 0   #FFFFFF,
                -4px -1px 0   #FFFFFF,
                4px -1px 0   #FFFFFF,
                -4px  1px 0   #FFFFFF,
                4px  1px 0   #FFFFFF,
                -2px -4px 0   #FFFFFF,
                2px -4px 0   #FFFFFF,
                -2px  4px 0   #FFFFFF,
                2px  4px 0   #FFFFFF,
                -4px -2px 0   #FFFFFF,
                4px -2px 0   #FFFFFF,
                -4px  2px 0   #FFFFFF,
                4px  2px 0   #FFFFFF,
                -3px -4px 0   #FFFFFF,
                3px -4px 0   #FFFFFF,
                -3px  4px 0   #FFFFFF,
                3px  4px 0   #FFFFFF,
                -4px -3px 0   #FFFFFF,
                4px -3px 0   #FFFFFF,
                -4px  3px 0   #FFFFFF,
                4px  3px 0   #FFFFFF,
                -4px -4px 0   #FFFFFF,
                4px -4px 0   #FFFFFF,
                -4px  4px 0   #FFFFFF,
                4px  4px 0   #FFFFFF,
                -4px -4px 0   #FFFFFF,
                4px -4px 0   #FFFFFF,
                -4px  4px 0   #FFFFFF,
                4px  4px 0   #FFFFFF;
        &._future
            color: #76ffff;
            text-shadow: 0 0 5px #5abcbcb5;


    &__field
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &-main
            position: relative;
        &._column-direction
            flex-direction: column
    &__toggler
        margin-bottom: 10px;
        &._right
            text-align: right;

    &__hint
        position: absolute;
        margin: auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

    &__meta-board
        color: #fff;
        margin-top: 40px;
        background: rgba(31,209,255,0.42);
        padding: 30px;
        font-size: 32px;

.re-toggler
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 5px #000;
/*! Порядок стилей имеет значение */
@require './styles/utils';
