@require './styles/reset';
@require './styles/fonts';
@require './games/CrossZero/index';
@require './games/Matches/styles';
@require './scenes/presents/styles';

text_color_red = #d43e2c;
error_color = #dc3545;
success_color = #18bc9c;

img {
    max-height: 100%;
    max-width: 100%;
}

.error
    color: error_color !important;
.error-border
    outline: 2px solid error_color !important;

.success
    color: success_color !important;
.success-border
    outline: 2px solid success_color !important;

.re-page
    height: 100%;
    overflow: hidden;

.re-body
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-width: 1170px;
    font-family: 'Flow';
    &.is-mobile
        max-width: 100%;
        max-height: 100%;
        min-width: 0px;
    &__header
        font-family: 'new-year';
        font-size: 60px;
        text-align: center;
        color: text_color_red;

    &__content
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

.re-message
    background: url(./image/message.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 506px;
    min-height: 272px;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 43px;
    padding-top: 64px;
    padding-bottom: 60px;
    font-family: 'Flow';
    color: #1f5578;

    &._modern
        background: rgba(255,255,255, 0.6);
        color: #555;
        padding: 15px;
        max-width: 700px;
        width: auto;
        min-height: auto;
        border-radius: 10px;
        &._blue
            background: #1a2147ab;
            color: #fff;
        &._orange
            background: #e49700b8;
            color: #fff;
            -webkit-box-shadow 0px 10px 5px 0px rgba(136,103,37,0.6);
            -moz-box-shadow 0px 10px 5px 0px rgba(136,103,37,0.6);
            box-shadow 0px 10px 5px 0px rgba(136,103,37,0.6);

        &._aqua
            background: #1d8fceab;
            color: #fff;
        & ^[0]__text
            text-align: left;
            font-size: 24px;

    &._start
        margin-top: -150px;
        margin-left: -150px;
        padding-top: 30px;
        padding-left: 29px;
        padding-right: 29px;

    &._past
        background-size: cover;
        width: 400px;
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -50px;
        margin-left: -150px;

    &._present
        position: relative;
        top: -150px;
        left: 0px;

    &._future
        position: relative;
        top: -50px;
        left: -200px;
        & ^[0]__text
            font-size: 28px;

    &._end
        position: relative;
        left: -250px;
        top: -150px;

    &__text
        text-align: center;
        line-height: 1.2;
        font-size: 32px;

    &__action
        padding-top: 50px;
        align-self: flex-end;
        text-align: right;

    &__cloud
        margin-top: -232px;
        background: url(./image/cloud.png) center center no-repeat;
        background-size: contain;
        width: 630px;
        height: 405px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #d43e2c;
        font-size: 22px;
        padding: 0 75px;
        user-select: none;

        &._bottom-padding
            padding-bottom: 35px;

    &__modal-info
        position: absolute;
        left: 38%;
        top: 50%;
        margin-top: -232px;
        background: url(./image/info.png) center center no-repeat;
        background-size: contain;
        width: 450px;
        height: 340px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #d43e2c;
        font-size: 22px;
        padding: 0 45px;
        user-select: none;

.re-scene
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &._start
        background-image: url('./image/scene-preview/bg.jpg') !important;

    &._past
        background-image: url('./image/past.png');

    &._present
        background-image: url('./image/present.png');

    &._future
        background: url('./image/future.png');
        background-size: 100% 100%;

    &._gifts
        background: url('./image/christmas.jpg');
        background-size: 100% 100%;

    &__header
        width: 100%;
        justify-content: center;
        display: flex;

    &__content
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        &._align-end
            justify-content: flex-end;
        &._align-center
            justify-content: center;
            align-items: center;

    &__ghost
        display: flex;
        margin-left: 10%;
        // align-items: flex-end;

        &-image
            max-height: 600px;
            align-self: flex-end;

    &__game
        display: flex;
        &._fill
            flex-grow: 1;
            height: 100%;
        &._matches
            justify-content: center;
            align-items: center;

    &__game-wrapper
        display: flex;
        &._matches
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

    &__game-canvas
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;

    &__action
        display: flex;
        justify-content: center;

.re-action
    color: #fff;
    &._modern
        border-radius: 10px 0 10px 0;
        padding: 5px 10px;
        background: #ff8100;
        position: relative;
        left: 15px;
        top: 7px;
        color: #fff;
        text-decoration: none;
        &._red
            background: #f86b3f;
        & ^[0]__text
            color: #fff;
    &__text
        color: #fff;
        &._blue
            color: #1f5578;
        // font-family: 'playlistscript'
        &._start-scene
            font-size: 42px;

.re-game
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;

    &__title
        padding: 40px;
        text-align: center;
        font-size: 42px;
        color: #fff;
        &._small
            font-size: 20px
        &._past
            color: #1b00ffd1;
            text-shadow:
                -0   -1px 0   #FFFFFF,
                0   -1px 0   #FFFFFF,
                -0    1px 0   #FFFFFF,
                0    1px 0   #FFFFFF,
                -1px -0   0   #FFFFFF,
                1px -0   0   #FFFFFF,
                -1px  0   0   #FFFFFF,
                1px  0   0   #FFFFFF,
                -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
                -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF,
                -1px -1px 0   #FFFFFF,
                1px -1px 0   #FFFFFF,
                -1px  1px 0   #FFFFFF,
                1px  1px 0   #FFFFFF;
        &._present
            color: #0026ffab;
            font-size: 100px;
            padding: 30px;
            font-family: 'new-year';
            text-shadow:
                -0   -4px 0   #FFFFFF,
                0   -4px 0   #FFFFFF,
                -0    4px 0   #FFFFFF,
                0    4px 0   #FFFFFF,
                -4px -0   0   #FFFFFF,
                4px -0   0   #FFFFFF,
                -4px  0   0   #FFFFFF,
                4px  0   0   #FFFFFF,
                -1px -4px 0   #FFFFFF,
                1px -4px 0   #FFFFFF,
                -1px  4px 0   #FFFFFF,
                1px  4px 0   #FFFFFF,
                -4px -1px 0   #FFFFFF,
                4px -1px 0   #FFFFFF,
                -4px  1px 0   #FFFFFF,
                4px  1px 0   #FFFFFF,
                -2px -4px 0   #FFFFFF,
                2px -4px 0   #FFFFFF,
                -2px  4px 0   #FFFFFF,
                2px  4px 0   #FFFFFF,
                -4px -2px 0   #FFFFFF,
                4px -2px 0   #FFFFFF,
                -4px  2px 0   #FFFFFF,
                4px  2px 0   #FFFFFF,
                -3px -4px 0   #FFFFFF,
                3px -4px 0   #FFFFFF,
                -3px  4px 0   #FFFFFF,
                3px  4px 0   #FFFFFF,
                -4px -3px 0   #FFFFFF,
                4px -3px 0   #FFFFFF,
                -4px  3px 0   #FFFFFF,
                4px  3px 0   #FFFFFF,
                -4px -4px 0   #FFFFFF,
                4px -4px 0   #FFFFFF,
                -4px  4px 0   #FFFFFF,
                4px  4px 0   #FFFFFF,
                -4px -4px 0   #FFFFFF,
                4px -4px 0   #FFFFFF,
                -4px  4px 0   #FFFFFF,
                4px  4px 0   #FFFFFF;
        &._future
            color: #ff3737;
            text-shadow:
                -0   -1px 0   rgba(255,255,255, 0.6),
                0   -1px 0   rgba(255,255,255, 0.6),
                -0    1px 0   rgba(255,255,255, 0.6),
                0    1px 0   rgba(255,255,255, 0.6),
                -1px -0   0   rgba(255,255,255, 0.6),
                1px -0   0   rgba(255,255,255, 0.6),
                -1px  0   0   rgba(255,255,255, 0.6),
                1px  0   0   rgba(255,255,255, 0.6),
                -1px -1px 0   rgba(255,255,255, 0.6),
                1px -1px 0   rgba(255,255,255, 0.6),
                -1px  1px 0   rgba(255,255,255, 0.6),
                1px  1px 0   rgba(255,255,255, 0.6),
                -1px -1px 0   rgba(255,255,255, 0.6),
                1px -1px 0   rgba(255,255,255, 0.6),
                -1px  1px 0   rgba(255,255,255, 0.6),
                1px  1px 0   rgba(255,255,255, 0.6);


    &__field
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &-main
            position: relative;
        &._column-direction
            flex-direction: column
    &__toggler
        &._right
            text-align: right;

    &__hint
        position: absolute;
        margin: auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

    &__meta-board
        color: #fff;
        margin-top: 40px;
        background: #ffb01f6b;
        padding: 30px;
        font-size: 32px;

    &__container
        &._present
            width: 55vw;
            height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            padding: 25px;
            background: rgba(173,216,230, 0.9);
            border-radius: 20px;

    &__Riddles
        &-row
            display: flex;
            margin: 15px 0;
        &-answer
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        &-input
            display: block;
            margin: 10px 0;
            padding: 10px;
            box-sizing: border-box;
            border: none;
            border-radius: 10px;
            outline: 1px solid #eee;
            transition: .3s border-color;
            height: 45px;
            width: 300px;

            &:hover, &:focus
                outline: 3px solid #aaa;

        &-submit
            margin-left: 10px;
            height: 45px;
            border-radius: 5px;
            background: #ffe5b4;

.re-toggler
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 5px #000;
    &._hint
        position: relative;
        overflow: hidden;
        display: inline-flex;
        padding: 5px;
        &:before
            content: '';
            width: 100%;
            height: 1px;
            background: #fff;
            position: absolute;
            transform: translateX(-105%);
            bottom: 3px;
            transition: 0.3s transform;
        &:hover
            &:before
                transform: translateX(0%);

        text-shadow: 0 -1px 0 rgba( 86, 85, 160, 0.74 ),
                     0 -1px 0 rgba( 86, 85, 160, 0.74 ),
                     0 1px 0 rgba( 86, 85, 160, 0.74 ),
                     0 1px 0 rgba( 86, 85, 160, 0.74 ),
                     -1px 0 0 rgba( 86, 85, 160, 0.74 ),
                     1px 0 0 rgba( 86, 85, 160, 0.74 ),
                     -1px 0 0 rgba( 86, 85, 160, 0.74 ),
                     1px 0 0 rgba( 86, 85, 160, 0.74 ),
                     -1px -1px 0 rgba( 86, 85, 160, 0.74 ),
                     1px -1px 0 rgba( 86, 85, 160, 0.74 ),
                     -1px 1px 0 rgba( 86, 85, 160, 0.74 ),
                     1px 1px 0 rgba( 86, 85, 160, 0.74 ),
                     -1px -1px 0 rgba( 86, 85, 160, 0.74 ),
                     1px -1px 0 rgba( 86, 85, 160, 0.74 ),
                     -1px 1px 0 rgba( 86, 85, 160, 0.74 ),
                     1px 1px 0 rgba( 86, 85, 160, 0.74 )

@media (max-height: 850px)

    .re-scene
        &__ghost-image
            max-height: 500px

    .re-gift
        &__preview-person
            display: flex;
            justify-content: center;
            align-items: center;

    .re-game
        &__title
            font-size: 32px;
            &._past
                padding: 25px;
            &._present
                font-size: 75px;

    .re-message
        &._modern
            & ^[0]__text
                font-size: 18px;
/*! Порядок стилей имеет значение */
@require './styles/utils';
