.re-game__Trees
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60vw;
    height: 80vh;
    margin: auto;

    &-container
        width: 800px;
        height: 554px;
        background-color: #FF7E26;

    &-row
        margin: 22px 0;

    &-image
        margin: 0 27px;

        &:hover
            cursor: pointer;
            filter: drop-shadow(0 0 3px black);
            -webkit-filter: drop-shadow(0 0 3px black);
